@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@400;500&family=Poppins:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
hr{
    border-top: 4px solid #E3E6E3;
    ;
    border-bottom: none;
}
#live_featured_matches{
    display: flex;
    /* border: 1px solid #E3E6E3; */
}
#live_featured_matches>div{
    width: 40%;
    margin: 0 20px;
    /* border: 1px solid #E3E6E3; */
    position: relative;
}
#live_featured_matches>div::after{
  content: "";
 background-color: #E3E6E3;
  height: 80%;
  width: .5px;
  position: absolute;
  top: 10px;
  left: -20px;
}
#live_featured_matches>div>div{
    width: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#live_featured_matches>div>div:nth-child(1)>div>a{
   color:#333;
   font-weight: 600;
   font-size: 14px;
}
#live_featured_matches>div>div:nth-child(1)>div:nth-child(2)>a{
    margin-left: 10px;
 }
 #live_featured_matches>div>div:nth-child(2)>div:nth-child(2)>a{
    margin-left: 10px;
 }
#live_featured_matches>div>div:nth-child(2)>div>a{
    color:rgb(96, 95, 95);
    font-weight: 600;
    font-size: 14px;
 }
.anchortag{
    color: blue;
    font-size: 13px;
    line-height:1.6;
}
#featured_matches{
    margin: 20px 0 10px 0;
}
#featured_matches>h3{
    margin-left: 20px;
    margin-bottom: 10px;
    color: #009270;
}

#news_section{
    display: flex;
    margin: 0 20px;
    
}
#news_home{
    width: 30%;
    border-right: 4px solid #E3E6E3;
    display: flex;
    flex-direction: column;
}
#news_home>h3{
    color: #009270;
    text-transform: uppercase;
    margin-top: 20px;
}
#news_home>a{
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
#news_home>a:hover{
    text-decoration: underline;
}
#newsInDetails{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 50px 0 0 0;
}
#newsInDetails>img{
   width: 500px;
}
#newsInDetails>p{
    margin: 10px 60px;
    
}
#newsInDetails>h2{
    margin: 10px 20px;
}

#phtosGalleries{
    margin: 0 20px;
}
#phtosGalleries>h3{
    color: #009270;
    text-transform: uppercase;
    margin-top: 20px;
}
#photos{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#photos>div{
    width: 23%;
    background-color: #333333;
    margin-bottom: 20px;
    border-radius: 10px;
}
#photos>div>h3{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin: 0 10px;
}
#photos>div>p{
    color: #fff;
    font-size: 12px;
  ;
    margin: 10px 10px;
}
#photos>div>img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
}
