@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@400;500&family=Poppins:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* navbar1 */
#navbar1{
    background: #009270;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar1>img{
    height: 30px;

}
#navbar1 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
   
}
#navbar1 i{
    
    color: white;
}
#navbar1>div{
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    cursor: pointer;
}
#navbar1>div>i{
    margin-left: 10px;
}
#navbar1>div:hover{
     background-color: #02ac84;
    }

    #navbar1>a {
        height: 50px;
        display: flex;
        align-items: center;
    }
#navbar1>a:hover{
    background-color: #02ac84;

}
.icon>i{
    font-size:10px;

}
#navBar_btn{
    padding:5px 14px;
    background-color: #fff;
    border-radius: 18px;
    border: none;
    color: #666;
    cursor: pointer;
}

.changeOfNavi{
    font-size: 20px;
    font-weight: 300;

}
.dropMenu{
    position: relative;
    transition: all 0.3s;
    z-index: 100;
}
#news_drop{
    /* padding: 10px; */
    background-color: #E3E6E3;
    height: auto;
    width: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #E3E6E3;
    opacity: 0;
    visibility: hidden;
}
#news_drop>a{
    /* color: red; */
    color: #000;
    font-weight: 400;
    padding: 5px 5px;
  
    /* text-align: center; */
    font-size: 15px;
   
}
#news_drop>a:hover{
    background-color: #fff;
   

}
.dropMenu:hover #news_drop{
    opacity: 1;
    visibility: visible;
}
#videos_drop{
    background-color: #E3E6E3;
    height: auto;
    width: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #E3E6E3;
    opacity: 0;
    visibility: hidden;
}
#videos_drop>a{
    /* color: red; */
    color: #000;
    font-weight: 400;
    padding: 5px 5px;
  
    text-align: left;
    font-size: 15px;
   
}
#videos_drop>a:hover{
    background-color: #fff;
   
}
.dropMenu:hover #videos_drop{
    opacity: 1;
    visibility: visible;
}


#rankings_drop{
    background-color: #E3E6E3;
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid #E3E6E3;
    opacity: 0;
    visibility: hidden;
}
#rankings_drop>a{
    /* color: red; */
    color: #000;
    font-weight: 400;
    padding: 5px 5px;
  
    /* text-align: center; */
    font-size: 15px;
   
}
#rankings_drop>a:hover{
    background-color: #fff;
   
}
.dropMenu:hover #rankings_drop{
    opacity: 1;
    visibility: visible;
}
#more_drop{
    background-color: #E3E6E3;
    height: auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid #E3E6E3;
    opacity: 0;
    visibility: hidden;
}
#more_drop>a{
    /* color: red; */
    color: #000;
    font-weight: 400;
    padding: 5px 5px;
   
    /* text-align: center; */
    font-size: 15px;
   
}
#more_drop>a:hover{
    background-color: #fff;
   
}
.dropMenu:hover #more_drop{
    opacity: 1;
    visibility: visible;
}

#series_drop{
    /* padding: 10px; */
    background-color: #E3E6E3;
    height: auto;
    width: 240px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #E3E6E3;
    opacity: 0;
    visibility: hidden;
}
#series_drop>a{
    /* color: red; */
    color: #000;
    font-weight: 400;
    padding: 5px 5px;
   
    /* text-align: center; */
    font-size: 15px;
   
}
#series_drop>a:hover{
    background-color: #fff;
   
}
.dropMenu:hover #series_drop{
    opacity: 1;
    visibility: visible;
}
#teams_Drop{
    display: flex;
    /* justify-content: space-between; */
    background-color: #E3E6E3;
    height: 440px;
    width: 250px;
    
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #E3E6E3;
    opacity: 0;
    visibility: hidden;
    
}
#teams_Drop >div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10px;
}
#teams_Drop >div>a{
    /* text-align: center; */
    color: #000;
    font-weight: 400;
    padding: 5px 0;
    font-size: 15px;
}
#teams_Drop >div>h4{
    /* text-align: center; */
    color: #000;
    font-weight: 800;
    
    font-size: 15px;

}

#teams_Drop >div>a:hover{
    background-color: #fff;
   
}
.dropMenu:hover #teams_Drop{
    opacity: 1;
    visibility: visible;
}
#teams_Drop_more{
  position: absolute;
  bottom: 0;
  right: 10px;
  font-style: italic;
}

/* navbar2 */
#navbar2{
    background-color: #4a4a4a;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar2>div{
    display: flex;
    align-items: center;
}


#navbar2>div>a{
   text-decoration: none;
   color: white;
   font-size: 14px;
   font-weight: 300;
   height: 35px;
   display: flex;
   align-items: center;

}
#navbar2>div>#match{
    padding: 0 10px;
    background-color: #333;
    text-transform: uppercase;
    transition: all 0.3;
}
#navbar2>div>#match:hover{
    background-color: rgb(82, 81, 81);

}
.nav2_match{
    padding: 0 10px;
    transition: all 0.3;
}
.nav2_match:hover{
   background-color: rgb(61, 61, 61);
}
#navbar2>div:nth-child(2){
    
    padding: 0 10px;
    transition: all 0.3;
}
#navbar2>div:nth-child(2):hover{
    background-color: rgb(61, 61, 61);
}
#navbar2>div>i{
    margin-left: 10px;
    color: #fff;
    font-size: 10px;
}


/* lets color the scroll bar */
::-webkit-scrollbar{
    width: 10px;
   
}
::-webkit-scrollbar-track{
    background-color: #E3E6E3;
}
::-webkit-scrollbar-thumb{
    background: #009270;
}
