*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main_contaner{
    width: 95%;
    height: auto;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
}
#for_bac{
    width: 100%;
    height: auto;
    background-color: rgb(219, 226, 233);
}
#video_catagory{
    /* border: 1px solid black; */
    border-bottom: 0.5px solid rgb(163, 156, 156);
}
#cri_vid{
   margin-left: 2.5%;
   margin-top: 20px;
   margin-bottom: 20px;
   font-family: 'Roboto', sans-serif;
}
#video_catagory>div{
    display: flex;
}
#video_catagory>div>p{
    margin-left: 2.5%;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
#video_catagory>div>p:after{
    content: '';
    position: absolute;
    background-color: #009270;;
    
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
#video_catagory>div>p:hover{
    color: black;
}
#video_catagory>div>p:hover:after{
    width: 100%;
}

#imgcat{
    width: 100%;
    border-bottom: 0.5px solid rgb(163, 156, 156);
    height: auto;
}
#imgcat>div{
    width: 70%;
    height: 175px;
    /* border: 1px solid black; */
    margin-top: 30px;
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 25px;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}
/* #imgcat>div>div{
    /* border: 1px solid black; 
} */

#imgcat>div>div>img{
    width: 100%;
    height: 55%;
    border-radius: 10px;
}
#imgcat>div>div>a{
    text-decoration: none;
    color: black;
}

.latvid{
    width: 100%;
    /* border-bottom: 0.5px solid rgb(163, 156, 156); */
    height: auto;
}

.main-carousel{
width: 100%;
height: auto;
/* border: 1px solid black; */
}

.carousel-cell{
    width: 30%;
    height: 300px;
    background-color: white;
    /* border: 1px solid black; */
    margin-right: 20px;
    margin-bottom: 5px;
}
.carousel-cell>iframe{
    width: 100%;
    height: 75%;

}
.carousel-cell>p{
    text-align: center;
}
.latvid>h3{
    margin-top: 15px;
    margin-left: 2.5%;
    margin-bottom: 30px;
}
#main1{
    margin-top: 50px;
    border-top: 0.5px solid rgb(163, 156, 156);
}
